<parameters>
<index>/home/ster/Desktop/example</index>
<rule>method:dirichlet,mu:1000</rule>
<count>1000</count>
<trecFormat>true</trecFormat>
<query><type>indri</type><number>301</number> <text>International Organized unionize Crime </text></query>
<query><type>indri</type><number>302</number> <text>Poliomyelitis polio Post station Polio poliomyelitis </text></query>
<query><type>indri</type><number>303</number> <text>Hubble Edwin Hubble Telescope Achievements accomplishment </text></query>
<query><type>indri</type><number>304</number> <text>Endangered queer Species Mammals mammal </text></query>
<query><type>indri</type><number>305</number> <text>Most Dangerous grave Vehicles vehicle </text></query>
<query><type>indri</type><number>306</number> <text>African Civilian Deaths end </text></query>
<query><type>indri</type><number>307</number> <text>New raw Hydroelectric Projects visualize </text></query>
<query><type>indri</type><number>308</number> <text>Implant plant Dentistry dental medicine </text></query>
<query><type>indri</type><number>309</number> <text>Rap tap Crime </text></query>
<query><type>indri</type><number>310</number> <text>Radio radio receiver Waves wave Brain mind Cancer genus Cancer </text></query>
<query><type>indri</type><number>311</number> <text>Industrial Espionage </text></query>
<query><type>indri</type><number>312</number> <text>Hydroponics aquiculture </text></query>
<query><type>indri</type><number>313</number> <text>Magnetic Levitation Maglev magnetic levitation </text></query>
<query><type>indri</type><number>314</number> <text>Marine nautical Vegetation </text></query>
<query><type>indri</type><number>315</number> <text>Unexplained Highway main road Accidents accident </text></query>
<query><type>indri</type><number>316</number> <text>Polygamy Polyandry Polygyny </text></query>
<query><type>indri</type><number>317</number> <text>Unsolicited unasked Faxes fax </text></query>
<query><type>indri</type><number>318</number> <text>Best well Retirement retreat Country state </text></query>
<query><type>indri</type><number>319</number> <text>New raw Fuel Sources source </text></query>
<query><type>indri</type><number>320</number> <text>Undersea submarine Fiber roughage Optic ocular Cable cable television </text></query>
<query><type>indri</type><number>321</number> <text>Women womanhood Parliaments parliament </text></query>
<query><type>indri</type><number>322</number> <text>International Art artwork Crime </text></query>
<query><type>indri</type><number>323</number> <text>Literary Journalistic Plagiarism plagiarization </text></query>
<query><type>indri</type><number>324</number> <text>Argentine British British people Relations sexual intercourse </text></query>
<query><type>indri</type><number>325</number> <text>Cult fad Lifestyles life style </text></query>
<query><type>indri</type><number>326</number> <text>Ferry Sinkings slump </text></query>
<query><type>indri</type><number>327</number> <text>Modern New Slavery </text></query>
<query><type>indri</type><number>328</number> <text>Pope Alexander Pope Beatifications blessedness </text></query>
<query><type>indri</type><number>329</number> <text>Mexican Air vent Pollution </text></query>
<query><type>indri</type><number>330</number> <text>Iran Islamic Republic of Iran Iraq Republic of Iraq Cooperation </text></query>
<query><type>indri</type><number>331</number> <text>World worldly concern Bank trust Criticism literary criticism </text></query>
<query><type>indri</type><number>332</number> <text>Income Tax Evasion </text></query>
<query><type>indri</type><number>333</number> <text>Antibiotics antibiotic Bacteria bacterium Disease </text></query>
<query><type>indri</type><number>334</number> <text>Export Controls see Cryptography coding </text></query>
<query><type>indri</type><number>335</number> <text>Adoptive Biological Parents rear </text></query>
<query><type>indri</type><number>336</number> <text>Black total darkness Bear yield Attacks fire </text></query>
<query><type>indri</type><number>337</number> <text>Viral Hepatitis </text></query>
<query><type>indri</type><number>338</number> <text>Risk put on the line Aspirin acetylsalicylic acid </text></query>
<query><type>indri</type><number>339</number> <text>Drug do drugs Treatment </text></query>
<query><type>indri</type><number>340</number> <text>Land state Mine Ban prohibition </text></query>
<query><type>indri</type><number>341</number> <text>Airport airdrome Security security system </text></query>
<query><type>indri</type><number>342</number> <text>Diplomatic diplomatical Expulsion extrusion </text></query>
<query><type>indri</type><number>343</number> <text>Police police force Deaths end </text></query>
<query><type>indri</type><number>344</number> <text>Abuses pervert E vitamin E Mail post </text></query>
<query><type>indri</type><number>345</number> <text>Overseas abroad Tobacco tobacco plant Sales sale </text></query>
<query><type>indri</type><number>346</number> <text>Educational Standards standard </text></query>
<query><type>indri</type><number>347</number> <text>Wildlife Extinction extinguishing </text></query>
<query><type>indri</type><number>348</number> <text>Agoraphobia </text></query>
<query><type>indri</type><number>349</number> <text>Metabolism metamorphosis </text></query>
<query><type>indri</type><number>350</number> <text>Health Computer computing machine Terminals terminal </text></query>
<query><type>indri</type><number>351</number> <text>petroleum crude oil exploration </text></query>
<query><type>indri</type><number>352</number> <text>British British people Chunnel Channel Tunnel impact shock </text></query>
<query><type>indri</type><number>353</number> <text>Antarctica Antarctic continent exploration </text></query>
<query><type>indri</type><number>354</number> <text>journalist risks risk </text></query>
<query><type>indri</type><number>355</number> <text>ocean sea remote remote control sensing smell </text></query>
<query><type>indri</type><number>356</number> <text>postmenopausal estrogen oestrogen Britain United Kingdom </text></query>
<query><type>indri</type><number>357</number> <text>territorial territorial reserve waters Ethel Waters dispute quarrel </text></query>
<query><type>indri</type><number>358</number> <text>blood rake alcohol fatalities fatality </text></query>
<query><type>indri</type><number>359</number> <text>mutual reciprocal fund store predictors predictor </text></query>
<query><type>indri</type><number>360</number> <text>drug do drugs legalization legalisation benefits profit </text></query>
<query><type>indri</type><number>361</number> <text>clothing invest sweatshops sweatshop </text></query>
<query><type>indri</type><number>362</number> <text>human smuggling </text></query>
<query><type>indri</type><number>363</number> <text>transportation transportation system tunnel disasters disaster </text></query>
<query><type>indri</type><number>364</number> <text>rabies hydrophobia </text></query>
<query><type>indri</type><number>365</number> <text>El elevation </text></query>
<query><type>indri</type><number>366</number> <text>commercial commercial grade cyanide nitrile uses use </text></query>
<query><type>indri</type><number>367</number> <text>piracy plagiarism </text></query>
<query><type>indri</type><number>368</number> <text>fertilization fertilisation </text></query>
<query><type>indri</type><number>369</number> <text>anorexia bulimia </text></query>
<query><type>indri</type><number>370</number> <text>food food for thought drug do drugs laws Torah </text></query>
<query><type>indri</type><number>371</number> <text>health insurance policy holistic </text></query>
<query><type>indri</type><number>372</number> <text>Native American American English casino cassino </text></query>
<query><type>indri</type><number>373</number> <text>encryption encoding equipment export </text></query>
<query><type>indri</type><number>374</number> <text>Nobel Alfred Nobel prize trophy winners winner </text></query>
<query><type>indri</type><number>375</number> <text>hydrogen H energy </text></query>
<query><type>indri</type><number>376</number> <text>World worldly concern Court woo </text></query>
<query><type>indri</type><number>377</number> <text>cigar smoking </text></query>
<query><type>indri</type><number>378</number> <text>euro opposition resistance </text></query>
<query><type>indri</type><number>379</number> <text></text></query>
<query><type>indri</type><number>380</number> <text>obesity fleshiness medical treatment </text></query>
<query><type>indri</type><number>381</number> <text>alternative option medicine music </text></query>
<query><type>indri</type><number>382</number> <text>hydrogen H fuel automobiles car </text></query>
<query><type>indri</type><number>383</number> <text>mental illness unwellness drugs drug </text></query>
<query><type>indri</type><number>384</number> <text>space station post moon moonlight </text></query>
<query><type>indri</type><number>385</number> <text>hybrid loanblend fuel cars car </text></query>
<query><type>indri</type><number>386</number> <text>teaching precept disabled handicapped children child </text></query>
<query><type>indri</type><number>387</number> <text>radioactive waste rot </text></query>
<query><type>indri</type><number>388</number> <text>organic soil territory enhancement sweetening </text></query>
<query><type>indri</type><number>389</number> <text>illegal technology engineering transfer transportation </text></query>
<query><type>indri</type><number>390</number> <text>orphan drugs drug </text></query>
<query><type>indri</type><number>391</number> <text>R roentgen D vitamin D drug do drugs prices price </text></query>
<query><type>indri</type><number>392</number> <text>robotics </text></query>
<query><type>indri</type><number>393</number> <text>mercy killing toss off </text></query>
<query><type>indri</type><number>394</number> <text>home home plate schooling </text></query>
<query><type>indri</type><number>395</number> <text>tourism touristry </text></query>
<query><type>indri</type><number>396</number> <text>sick vomit building construction syndrome </text></query>
<query><type>indri</type><number>397</number> <text>automobile car recalls remember </text></query>
<query><type>indri</type><number>398</number> <text>dismantling strip Europe European Union arsenal armory </text></query>
<query><type>indri</type><number>399</number> <text>vessels vessel </text></query>
<query><type>indri</type><number>400</number> <text>Amazon rain rain down forest woodland </text></query>
<query><type>indri</type><number>401</number> <text>foreign strange minorities minority Germany Federal Republic of Germany </text></query>
<query><type>indri</type><number>402</number> <text>behavioral behavioural genetics genetic science </text></query>
<query><type>indri</type><number>403</number> <text>osteoporosis </text></query>
<query><type>indri</type><number>404</number> <text>Ireland Hibernia peace peace treaty talks talk </text></query>
<query><type>indri</type><number>405</number> <text>cosmic events event </text></query>
<query><type>indri</type><number>406</number> <text>Parkinson C  Northcote Parkinson disease </text></query>
<query><type>indri</type><number>407</number> <text>poaching wildlife preserves save </text></query>
<query><type>indri</type><number>408</number> <text>tropical tropic storms storm </text></query>
<query><type>indri</type><number>409</number> <text>legal Pan tear apart Am Master of Arts </text></query>
<query><type>indri</type><number>410</number> <text>agreement </text></query>
<query><type>indri</type><number>411</number> <text>salvaging salvage shipwreck treasure </text></query>
<query><type>indri</type><number>412</number> <text>airport airdrome security security system </text></query>
<query><type>indri</type><number>413</number> <text>steel sword production </text></query>
<query><type>indri</type><number>414</number> <text>Cuba sugar saccharify exports export </text></query>
<query><type>indri</type><number>415</number> <text>drugs drug Golden favorable Triangle Triangulum </text></query>
<query><type>indri</type><number>416</number> <text>Three trey Gorges gorge Project visualize </text></query>
<query><type>indri</type><number>417</number> <text>creativity creativeness </text></query>
<query><type>indri</type><number>418</number> <text>quilts quilt income </text></query>
<query><type>indri</type><number>419</number> <text>recycle reprocess automobile car tires tire </text></query>
<query><type>indri</type><number>420</number> <text>carbon carbon paper monoxide poisoning </text></query>
<query><type>indri</type><number>421</number> <text>industrial waste rot disposal electric pig </text></query>
<query><type>indri</type><number>422</number> <text>art artwork stolen steal forged shape </text></query>
<query><type>indri</type><number>423</number> <text></text></query>
<query><type>indri</type><number>424</number> <text>suicides suicide </text></query>
<query><type>indri</type><number>425</number> <text>counterfeiting forge money </text></query>
<query><type>indri</type><number>426</number> <text>law police enforcement dogs pawl </text></query>
<query><type>indri</type><number>427</number> <text>UV ultraviolet damage wrong eyes </text></query>
<query><type>indri</type><number>428</number> <text>declining worsen birth parturition rates </text></query>
<query><type>indri</type><number>429</number> <text>Legionnaires legionnaire disease </text></query>
<query><type>indri</type><number>430</number> <text>killer killer whale bee attacks fire </text></query>
<query><type>indri</type><number>431</number> <text>robotic technology engineering </text></query>
<query><type>indri</type><number>432</number> <text>profiling motorists motorist police police force </text></query>
<query><type>indri</type><number>433</number> <text>Greek Hellene philosophy stoicism </text></query>
<query><type>indri</type><number>434</number> <text>Estonia Esthonia economy saving </text></query>
<query><type>indri</type><number>435</number> <text>curbing suppress population growth increase </text></query>
<query><type>indri</type><number>436</number> <text>railway railroad accidents accident </text></query>
<query><type>indri</type><number>437</number> <text>deregulation deregulating gas natural gas electric galvanic </text></query>
<query><type>indri</type><number>438</number> <text>tourism touristry increase </text></query>
<query><type>indri</type><number>439</number> <text>inventions invention scientific discoveries discovery </text></query>
<query><type>indri</type><number>440</number> <text>child labor undertaking </text></query>
<query><type>indri</type><number>441</number> <text>disease </text></query>
<query><type>indri</type><number>442</number> <text>heroic heroic verse acts work </text></query>
<query><type>indri</type><number>443</number> <text>US uranium investment investiture Africa </text></query>
<query><type>indri</type><number>444</number> <text>supercritical fluids fluid </text></query>
<query><type>indri</type><number>445</number> <text>women womanhood clergy </text></query>
<query><type>indri</type><number>446</number> <text>tourists tourist violence </text></query>
<query><type>indri</type><number>447</number> <text>engine locomotive </text></query>
<query><type>indri</type><number>448</number> <text>ship transport losses personnel casualty </text></query>
<query><type>indri</type><number>449</number> <text>antibiotics antibiotic ineffectiveness ineffectualness </text></query>
<query><type>indri</type><number>450</number> <text>King Hussein Husain peace peace treaty </text></query>
</parameters>